# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environment
chatbotenv/
venv/
ENV/

# IDE
.idea/
.vscode/
*.swp
*.swo

# Terraform
.terraform/
*.tfstate
*.tfstate.*
*.tfvars
.terraformrc
terraform.rc

# AWS
.aws/
aws.json

# Logs
*.log

# Local development
lambda_function.zip 